.brand_banner {

  margin-top: 30px;
  user-select: none;
  overflow: hidden;
  width: 100%;
  height: 450px;

  .brand_banner_image {
    z-index: -1;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    max-height: 450px;
    overflow: hidden;

    .brand_banner_darked {

      position: absolute;
      background: black;
      filter: opacity(55%);
      width: 100%;
      height: 100%;
    }

    .brand_banner_inner {

      margin-top: -100px;
    }
  }

  .brand_banner_name {
    z-index: -1;
    padding-left: 14%;
    letter-spacing: 40px;
    padding-top: 9%;
    position: absolute;
    color: white;
    opacity: 10%;
    font-size: 400px;
    font-weight: bold;
  }

  .brand_banner_text {
    z-index: -1;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    padding-top: 7%;
    align-items: center;
    color: white;
    font-size: 48pt;

    div{
      margin-bottom: 40px;
    }

    span{
      font-weight: bold;

    }
  }
}
