.sing-in {
  max-width: 550px;

  .sing-in__input-fields {

    .sing-in__input {
      max-width: 550px;
      height: 40px;
      margin-top: 35px;
      margin-bottom: 30px;

      input {
        border: 1px solid #e7e7e7;
        outline: #e7e7e7;
        height: 100%;
        width: 100%;
      }
    }
  }

  .sing-in__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .sing-in__button {
      font-size: 16pt;
    }

    .sing-in__link {

      .sing-in__forget {
        text-decoration: none;
        color: #00c8c8;
        font-size: 15pt;
      }

    }
  }
}
