.look-books__adv{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: flex-start;
  grid-gap: 20px;

}


@media (max-width: 1300px) {
  .look-books__adv{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .look-books__adv{
    grid-template-columns: repeat(1, 1fr);
  }
}
