.nav-bar {
  position: relative;
  display: grid;
  grid-template-columns: 38% 38% 20%;
  grid-gap: 2%;
  margin: 40px 4% 0 6.5%;
  z-index: 1;

  .nav-bar__link {
    text-decoration: none;
    color: black;

    label:hover {
      cursor: pointer;
    }
  }

  .nav-bar__title {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;

    span {
      font-weight: bold;
    }

  }

  .nav-bar__menu {
    font-size: 17px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 20px;

    .nav-bar__item {

      .nav-bar_menu_item__title {
        margin-bottom: 5px;
        cursor: pointer;
      }

      &:hover {

        .categories {
          display: block;
        }
      }

      .nav-bar_hovered:hover {
        color: #00c8c8;
      }

    }


  }

  .nav-bar__search {
    justify-self: start;
    color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    input {
      padding-left: 5px;
      height: 30px;
      border: 0.1px solid #e7e7e7;
      width: 100%;

      &:focus {
        outline-color: #00c8c8;
      }
    }

    .nav-bar_search-button {
      text-decoration: none;

      transform: translate(-25px, 8px);

      .fa-search {
        color: gray;
      }
    }
  }
}

@media (max-width: 1200px) {
  .nav-bar {

    .nav-bar__menu {
      grid-template-columns: repeat(3, auto);
    }
  }
}

@media (max-width: 768px) {
  .nav-bar {
    margin: 20px 10px;

    .nav-bar__title {
      font-size: 20px;
    }

    .nav-bar__menu {
      font-size: 12px;
      font-weight: bold;
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media (max-width: 375px) {
  .nav-bar {
    grid-template-columns: 48% 48%;

    .nav-bar__title {
      font-size: 20px;
    }

    .nav-bar__menu {
      font-size: 14px;
      grid-template-columns: repeat(2, auto);
    }

    .nav-bar__search {

      input {
        font-size: 14px;
      }
    }
  }
}
