.footer {
  margin-top: 100px;
  background: #f8f8f8;
  padding-bottom: 30px;

  .footer__column-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .footer__column {
      flex-basis: 13%;
      font-size: 13pt;


      .footer__title {
        margin: 50px 0;
        font-weight: bold;

      }
    }
  }

  .footer__banners{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .footer__banner{
      min-width: 300px;
      min-height: 200px;
      margin-left: 30px;
      flex-basis: 33%;
      text-align: center;
      color: white;
      font-size: 36pt;

      span{
        font-weight: bold;
      }

    }

    .banner__award{
      padding: 0 20px;
      background: #333333;
    }

    .banner__socials{
      background: #00c8c8;
      vertical-align: middle;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

        div{
          margin-left: 10px;

          &:hover{
            color: #737373;
            cursor: pointer;
          }
        }
    }
  }
}
