* {
  box-sizing: border-box;
}

.main-body {
  margin-left: 4%;
  margin-right: 4%;

  .main-body_line {
    margin: 60px auto;
    border: 1px solid #eeeeee;
  }

  .main-body_menu {
    font-size: 17px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .main-body_menu_item {

      label:hover {
        color: #00c8c8;
        cursor: pointer;
      }
    }
  }

  .main-body_cards-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    min-width: 0;
    min-height: 0;


    .main-body_cards-list_item:nth-child(6n + 3) {
      grid-column: span 2;
      grid-row: span 2;
    }

    .main-body_cards-list_item:nth-child(6n + 4) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

@media (max-width: 1000px) {
  .main-body {

    .main-body_cards-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
